doctype
html
	head
		title NYCDBxBSSA Basic Blog Manage Users
		link(rel='stylesheet' href='/css/basicBlog.css')
	body
		div(id="header")
			a(href="/")
				h1 Welcome to a NYCDBxBSSA basic blog
	
		div(id="main")
			div(id="adduserform")
				h2 Add a new user
				form(name="addUser" action="/adduser" method="post")
					input(type="text" name="userName" style="width: 350px;" placeholder="Username")
					br
					input(type="text" name="userPassword" style="width: 350px;" placeholder="password")
					br
					input(type="text" name="userEmail" style="width: 350px;" placeholder="Email")
					br
					button(type="submit" id="submitPost" style="width: 350px;") Add new user
			
			div(id="manageusers")
				h2 Here you can manage the users
				ul
					each user in allUsers
						div(style="font-size: 14pt; font-weight: bold;")= user.name + " " + user.email
						a(href="/removeuser/"+user.userID)
							div xxx Remove this user
						br
		
		div(id="footer")
			
			div(id="accountinformation")
				h2 Account
				p You are currently logged in as:
				p= user
				form(name="logout" action="/logout" method="post")
					button(type="submit" id="logout" style="width: 350px;") Logout
			
			div(id="navigation")
				h2 Navigation
				div(class="navigationlink")
					a(href="/manageposts") Manage Posts
				div(class="navigationlink")
					a(href="/manageusers") Manage Users