doctype
html
	head
		title NYCDBxBSSA Basic Blog Manage Posts
		link(rel='stylesheet' href='/css/basicBlog.css')
	body

		div(id="header")
			a(href="/")
				h1 Welcome to a NYCDBxBSSA basic blog
	
		div(id="main")

			div(id="manageposts")
				h2 Your posts
				each post in allPosts
					div(class="managepost")
						div(class="managetitle")
							a(href="/singlepost/"+post.postID)= post.title
						div(class="removepost")
							a(href="/removepost/"+post.postID) X Remove Post
			
			div(id="addpostform")
				h2 Make a new post
				form(name="addPost" action="/addpost" method="post")
					input(type="hidden" name="postAuthor" value=userid)
					input(type="text" id="addformtitle" name="postTitle" placeholder="Title")
					br
					textarea(id="addformbody" name="postBody" placeholder="Enter your blog post here!")
					br
					button(type="submit" id="submitPost") Submit your post
			
		
		div(id="footer")
			
			div(id="accountinformation")
				h2 Account
				p You are currently logged in as:
				p= user
				form(name="logout" action="/logout" method="post")
					button(type="submit" id="logout" style="width: 350px;") Logout
			
			div(id="navigation")
				h2 Navigation
				div(class="navigationlink")
					a(href="/manageposts") Manage Posts
				div(class="navigationlink")
					a(href="/manageusers") Manage Users