doctype
html
	head
		title Manage Users - NYCDBxBSSA Basic Blog
		link(rel='stylesheet' href='/css/basicBlog.css')
	body
		div(id="header")
			a(href="/")
				h1 Welcome to a NYCDBxBSSA basic blog
	
		div(id="main")
			
			div(id="manageusers")
				h2 Here you can manage the users
				each user in allUsers
					div(class="manageuser")
						div(class="usernamemanage")
							a(href="/edituser/"+user.userID)=user.name
						div(class="removeuser")
							a(href="/removeuser/"+user.userID) X Remove User

			div(id="adduserform")
				h2 Add a new user
				form(name="addUser" action="/adduser" method="post")
					input(type="text" name="userName" placeholder="Username")
					br
					input(type="text" name="userPassword" placeholder="password")
					br
					input(type="text" name="userEmail" placeholder="Email")
					br
					button(type="submit" id="submitPost") Add new user
		
		div(id="footer")
			
			div(id="accountinformation")
				h2 Account
				p You are currently logged in as:
				p= user
				form(name="logout" action="/logout" method="post")
					button(type="submit" id="logout" style="width: 350px;") Logout
			
			div(id="navigation")
				h2 Navigation
				div(class="navigationlink")
					a(href="/manageposts") Manage Posts
				div(class="navigationlink")
					a(href="/manageusers") Manage Users